
@font-face {
    font-family: "Juicebox";
    src: url('Assets/ViceCitySans.otf');
    }
@font-face {
    font-family: "ComicKhazi";
    src: url('Assets/RockfordSans-Light.otf');
    }
    @font-face {
        font-family: "Agresif";
        src: url('Assets/AGRESSIVE.otf');
        }

header {
    height: auto;
    width: auto;
    background-color: #0C87F2;
    background-size: cover;
    color: white;
    font-family: Font Juicebox;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 30px; 
}


.aside1 {
    width: auto;
    float: right;
    margin: -10px 10px 10px 0px;
    padding: 5px;
    margin-top: 55px;
    margin-right: -5px;
}

nav{
    clear: both;
    color: #d3e4cd;
    background-color: #081526;
    padding-top: -100px;
    height: 40px;
}

nav ul {
    margin: 0px;
    padding: 10px 0px 5px 30px;
}

nav li {
    display: inline;
    margin-right: 40px;
}

nav li a {
    color: white;
    font-family: Juicebox;
}

nav li a:hover, nav li a.current {
    color: orangered;
}

.aside1 {
    width: auto;
    float: right;
    margin: -10px 10px 10px 0px;
    padding: 5px;
    margin-top: 55px;
    margin-right: -5px;
}

.artikel {
    float: left;
    width: 820px;
    font-size: 1.2em;
    margin-left: 8px;
    margin-right: 8px;
    text-align: justify;
    margin:0 14px 1em 14px;
    font-family: ComicKhazi;
    }

.konten2 {
        margin:0 14px 1em 14px;
        padding:8px;
        float: right;
        width: 410px;
        font-family: ComicKhazi;
        border-left: 2px solid #666666;
    }

.sliderkonten2{
        margin: 1px 1px 1px 1px;
        padding: 3px;
        background-size: auto;
        background-position: center;
    }
    
.artikel2{
        font-size: 1em;
        color:#000000;
    }

.konten3 {
        margin:0 14px 1em 14px;
        padding:8px;
        float:right;
        width:410px;
        font-family: ComicKhazi;
        border-left: 2px solid #666666;
    }

.sliderkonten3{
        margin: 1px 1px 1px 1px;
        padding: 3px;
        background-size: auto;
        background-position: center;
    }
    
.artikel3{
        font-size: 1em;
        color:#000000;
    }

.sliderartikel1{
        margin: 1px 1px 1px 1px;
        padding: 3px;
        background-size: auto;
        background-position: center;
    }

.sliderartikel2{
        margin: 1px 1px 1px 1px;
        padding: 3px;
        background-size: auto;
        background-position: center;
    }

.sliderartikel3{
        margin: 1px 1px 1px 1px;
        padding: 3px;
        background-size: auto;
        background-position: center;
    }

footer {
        clear: both;
        overflow: hidden;
        background-color: black;
        color: white;
        width: auto;
        height: auto;
    }
    
.asidefooter1{
        width: 20px;
        margin-top: 10px;
        margin-bottom: 5px;
    }

.footer1{
        float: left;
        max-width: 2000px;
        margin: 10px 5px 10px 5px;
        padding: 10px;
        width: 400px;
        font-family: Juicebox;
    }

.footer2{
        float: left;
        max-width: 2000px;
        margin: 10px 5px 10px 5px;
        margin-top: -0.4em;
        padding: 10px;
        width: 450px;
        border-right: 2px solid white;
        font-family: Juicebox;
    }

.footer3{
        float: right;
        max-width: 2000px;
        margin: 10px 5px 10px 5px;
        padding: 10px;
        width: 400px;
        margin-right: -0.5em;
        margin-top: 20px;
        font-family: Agresif;
        text-align: center;
    }